# סביבות וירטואליות
venv/
env/
.venv/
ENV/

# קבצי Python זמניים
__pycache__/
*.py[cod]
*$py.class
*.so

# קבצי משתני סביבה סודיים (במידה ומשתמשים בריפו ציבורי)
# .env

# קבצי מערכת
.DS_Store
Thumbs.db

# יומנים
*.log
